/* src/components/Player.css */

.player-container {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
}

.volume-icon {
  height: 24px;
  width: 24px;
}

.volume-control {
  width: 100%;
}
